.card-movie {
    position: relative;
    display: block;
    animation: fadeLeft 0.5s linear;
    animation-fill-mode: both;

    .movcard {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .image-movie {
            width: 90px;
        }

        .desc {
            margin: 0 15px;

            p {
                margin: 0;
            }

            &__title {
                font-weight: 600;
                font-size: 17px;
            }

            &__date {
                font-size: 14px;
                padding-bottom: 5px;
            }

            &__info {
                font-size: 14px;

                .type {
                    color: rgb(219, 219, 219);
                }
            }


            .type-text {
                text-transform: capitalize;
            }
        }
    }
}

.favourite {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;

    &__btn {
        margin-top: 10px;
        border: 1px solid #CF1737;
        background: none;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 25px;
        font-size: 10px;
        cursor: pointer;
        color: #fdfdfd;
        text-decoration: none;
        animation: zoom 0.5s linear;
        animation-fill-mode: both;

        &:hover {
            color: #fdfdfd;
            text-decoration: none;
        }
    }

    &__add {
        margin-top: 10px;
        border: 1px solid #CF1737;
        background-color: #CF1737;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 25px;
        font-size: 10px;
        cursor: pointer;
        color: #fdfdfd;
        text-decoration: none;
        animation: zoom 0.5s linear;
        animation-fill-mode: both;

        &:hover {
            color: #fdfdfd;
            text-decoration: none;
        }
    }
}

@for $i from 1 through 10 {
    .card-movie:nth-child(#{$i}) {
        animation-delay: .35s * $i;
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        left: 100px;
    }

    75% {
        opacity: 0.5;
        left: 0px;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    75% {
        opacity: 0.5;
        transform: scale(0.90);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



@media screen and (max-width: 420px) {
    .favourite {
        position: static;
        margin-bottom: 0px;
        margin-right: 0px;
        text-align: right;
    }
}